{% extends "cabinet.html" %}
{% block subtitle %}Статьи{% endblock %}
{% block subcontent%}
    <div id="links" class="links">
		<a href="/articles/post">Написать новую</a>
	</div>
	<hr>
	
	<div class="error">{{error}}</div>

	<form method="post">
	<table>
	<tr>
		<th>ID</th>
		<th>Название</th>
		<th>Текст</th>
		<th>Является отображаемой версией</th>
		<th>Действия</th>
	</tr>
	<tr>
	{% for entry in entries %}
		<td>{{entry.key().id()}}</td>
		<td>{{entry.title}}</td>
		<td>{{entry.created}}</td>
		<td>
		<label>
			{% if  entry.isLatest: %}
			<input type="radio" name="article-isLatest" value="{{entry.key().id()}}" checked="checked">
			{% else: %}
			<input type="radio" name="article-isLatest" value="{{entry.key().id()}}">
			{% endif %}
		</label>
		</td>
		<td>
			<a href="/articles/{{entry.key().id()}}{{page_path}}">View</a>
			<a href="/articles/edit/{{entry.key().id()}}{{page_path}}">Edit</a>
		</td>
	</tr>
	{% endfor %}
	</table>
	<input type="submit" value="Сохранить">
	</form>
{% endblock %}

