<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <link rel="stylesheet" href="/style.css" />
    <title>{% block title %}Title undefined{% endblock %} - Ателье "Модница"</title>
    {% endblock %}
</head>
<body>
<div id="wrapper">
    <div id="top-menu">
        <div id="account">
			<ul>
			{% if user: %}
				<li><a href="/user/{{user.key().id()}}">My account</a></li>
				<li><a href="/logout">Logout</a></li>
			{% else: %}
				<li><a href="/login">Login</a></li>
				<li><a href="/signup">Register</a></li>
			{% endif %}
			</ul>
		</div>
		<div id="loggedas">
			{# Uncomment for troubleshooting {{cookie_message}} #} 
			<ul>
			{% if user: %}
				Welcome, {{user.username}}{% if user.isAdmin == True %}(Admin) {% endif %}
			{% endif %}
			</ul>
		</div>
    </div>
	<div id="header">
		<div id="header-title">
			<div id="logo"></div>
			<div id="header-title">
				<h1>Modnica-nn</h1>
			</div>
		</div>
		<div id="main-menu">
			<ul>
			<li><a href="/" class="main {% if activeMenuItem == 'main' %}selected{% endif %}">Главная</a></li>
			<li><a href="/vitrina" class="vitrina {% if activeMenuItem == 'vitrina' %}selected{% endif %}">Витрина</a></li>
			{% if user and user.isAdmin == True %}
			<li><a href="/users" class="cabinet {% if activeMenuItem == 'cabinet' %}selected{% endif %}">Кабинет</a></li>
			{% endif %}
		</div>
	</div>
	<div id="main">
		<div id="content">
			<h2>{{ self.title() }}</h2>
			{% block content %}Undefined content{% endblock %}
		</div>
    </div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2012 by <a href="/">DS</a>. {{cache_age_message}}
        {% endblock %}
    </div>
</div>
</body>
</html>
