{% extends "cabinet.html" %}
{% block subtitle %}Редактировать статью{% endblock %}
{% block subcontent%}
	<form method="post">
		<label>
			<div>Title</div>
			<input type="text" name="title" value="{{title}}">
		</label>
		
		<label>
			<div>Article</div>
			<textarea name="content">{{content}}</textarea>
		</label>
		
		<label>
			<div>Путь</div>
			<input type="text" name="pagePath" value="{{pagePath}}">
		</label>
		
		<div class="error">{{error}}</div>
		<input type="submit" value="Сохранить">
	</form>
{% endblock %}

