html {overflow-y:scroll;}
body { font-family: Verdana, sans-serif; font-size: 12px; color:#484848; margin: 0; padding: 0; min-width: 600px; }

h1, h2, h3, h4 { font-family: "Trebuchet MS", Verdana, sans-serif;}
h1 {margin:0; padding:0; font-size: 40px;}
h2 {font-size: 20px;padding: 2px 10px 1px 0px;margin: 0 0 10px 0; border-bottom: 1px solid #bbbbbb; color: #444;}
h3 {font-size: 16px;padding: 2px 10px 1px 0px;margin: 0 0 10px 0; border-bottom: 1px solid #bbbbbb; color: #444;}
h4 {font-size: 13px;padding: 2px 10px 1px 0px;margin-bottom: 5px; border-bottom: 1px dotted #bbbbbb; color: #444;}




label {	display: block; font-size: 20px; }
textarea { width: 400px; height: 200px; font-size: 17 px; font-family: monospace; }
input[type=submit] { font-size: 14px; }
input[type=text] { width: 400px; font-size: 20px; padding: 2px; }

hr { margin: 20px auto; }
table { border: solid; border-color: purple; }
table, th , tr, td { width: 800px; margin: 10px auto; padding: 1px; }

.error { color: red }

.article + .article { margin-top: 30px; }
.article-id, .article-created { float: right; font-weight: bold; font-size: 10px; }
.article-title   { font-size: 20px; font-weight: bold;  }
.article-body    { font-size: 17px; margin: 0; color: purple; }
.article-content { font-size: 17px; margin: 0; color: purple; }
.article-subject { font-size: 20px; font-weight: bold; }

.account { width: 100%; text-align: right; float: left; font-size: 10px; font-weight: bold; background-color: #ec9bca; color: #9F1558; padding: 3px 3px 0px 3px; }

/* dark-pink: #9F1558, light-pink: #ec9bca, light-yellow: #f4f0c3, f8f3cb */

/***** Layout *****/
#wrapper {background: white;}

#top-menu {background: #660d38; color: #fff; height:1.8em; font-size: 0.8em; padding: 2px 2px 0px 6px;}
#top-menu ul {margin: 0;  padding: 0;}
#top-menu li {
  float:left;
  list-style-type:none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  white-space:nowrap;
}
#top-menu a {color: #fff; margin-right: 8px; font-weight: bold;}
#top-menu #loggedas { float: right; margin-right: 0.5em; color: #fff; }

#account {float:right;}

#header {height:8.5em;margin:0;background-color:#9F1558;color:#f8f8f8; padding: 4px 8px 0px 6px; position:relative;}
#header a {color:#f8f8f8;}
#header h1 a.ancestor { font-size: 80%; }
#header-title-block { height: 68px; }
#logo {
position: relative;
height: 68px;
width: 100px;
background-image: url(/imgs/logo.gif);
margin-right: 30px;
display: inline-block;
}
#header-title {
display: inline-block;
width: 550px;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}
#quick-search {float:right;}

#main-menu {position: absolute;  bottom: 0px;  left:6px; margin-right: -500px;}
#main-menu ul {margin: 0;  padding: 0;}
#main-menu li {
  float:left;
  list-style-type:none;
  margin: 0px 2px 0px 0px;
  padding: 0px 0px 0px 0px;
  white-space:nowrap;
}
#main-menu li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 4px 10px 4px 10px;
}
#main-menu li a:hover {background:#ec9bca; color:#fff;}
#main-menu li a.selected, #main-menu li a.selected:hover {background:#fff; color:#555;}

#main {background-color:#EEEEEE;}

#sidebar{ float: right; width: 22%; position: relative; z-index: 9; padding: 0; margin: 0;}
* html #sidebar{ width: 22%; }
#sidebar h3{ font-size: 14px; margin-top:14px; color: #666;  }
#sidebar hr{ width: 100%; margin: 0 auto; height: 1px; background: #ccc; border: 0; }
* html #sidebar hr{ width: 95%; position: relative; left: -6px; color: #ccc; }
#sidebar .contextual { margin-right: 1em; }

#content { width: auto; background-color: #fff; margin: 0px; padding: 6px 10px 10px 10px; z-index: 10; }
* html #content{ width: auto; border-right: 0; padding-left: 0; margin-top: 0px; padding: 6px 10px 10px 10px;}
html>body #content { min-height: 400px; }
* html body #content { height: 500px; } /* IE */

#main.nosidebar #sidebar{ display: none; }
#main.nosidebar #content{ width: auto; border-right: 0; }




.map { position: absolute; right: 100px; top: 145px; }
.content { font-family: sans-serif; width: 100%; margin: 0 auto; padding: 10px; border-color: red; }
#footer { width: auto; margin: 0px; padding: 6px 10px 10px 10px; color: grey; font-size: 10px; }

/***** Links *****/
a, a:link, a:visited{ color: #2A5685; text-decoration: none; }
a:hover, a:active{ color: #c61a1a; text-decoration: underline;}
a img{ border: 0; }
