<!DOCTYPE html>

<html>
	<head>
		<title>Account</title>
	</head>
	
	<style type="text/css">
		body {
			font-family: sans-serif;
			width: 800px;
			margin: 0 auto;
			padding: 10px;
		}
		
		.error {
			color: red
		}
		
		label {
			display: block;
			font-size: 20px;
		}
		
		input[type=submit] {
			font-size: 24px;
		}
		
		hr {
			margin: 20px auto;
		}
		
	</style>

	<body>
		<h1>Account</h1>
		
		{{cookie_message}}
		<br>
		<a href="/unit4_hw_account/signup">Signup</a><br>
		{%
			if message: %}
				<a href="/unit4_hw_account/logout">Logout</a><br>
				{{message}}
		{%
			else: 
		%}
				<a href="/unit4_hw_account/login">Login</a><br>
		{%
			endif 
		%}
		<hr>

		{% for entry in entries %}
			<div class="login">
				<pre class="login-id">{{entry.id}}</pre>
				<div class="login-created">{{entry.created}}</div>
				<div class="login-username">User: {{entry.username}}</div>
			</div>
		{% endfor %}

	</body>
</html>
