{% extends "wiki_base.html" %}
{% block title %}Login{% endblock %}
{% block content%}
	<form method="post">
	
	<table>
	<tr>
	    <td><label>Username</td>
		<td><input name="username" value={{username}}></label></td>
		<td><span style="color: red">{{username_error}}</span></td>
	</tr><tr>
		<td><label>Password</td>
		<td><input name="password" type="password"></label></td>
		<td><span style="color: red">{{password_error}}</span></td>
	</tr>
	</table>

	<input type="submit" value="Login">
	</form>
{% endblock %}

